body {
	padding: 0px;
	margin:0px;
	font-family: arial;
}

.kutip {
	font-size: 30px;
}

.content {
	padding: 10px;
}

.image {
	width: 100%;
}

.author {
	text-align: right;
	font-size: 11px;
	padding: 10px;
}